.header.flex {
  width: 100%;
  height: auto;
  flex-direction: column;
  color: white;
  background-color: #6c757d;
  padding: 10px 30px 20px;
}

.user-info.flex {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 4px;
}

.user-info > div:nth-child(1),
.user-info > div:nth-child(2) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.sign_in,
.sign_up,
.cart {
  color: white;
  font-size: 0.8rem;
  padding: 0 6px;
}

.sign_in:hover,
.sign_up:hover,
.cart:hover {
  color: black;
}

.header-section.flex {
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.1rem;
  font-weight: 900;
  letter-spacing: 0.15rem;
}

.header-menu > ul.flex {
  justify-content: space-between;
  align-items: center;
}

.header-menu > ul > li {
  margin-right: 16px;
}

.header-menu > ul > li:last-child {
  margin-right: 0;
}

.header-menu > ul > li > a {
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 6px 14px;
  color: black;
  border-radius: 14px;
  transition: background-color 200ms ease-in;
}

.header-menu > ul > li > a:hover {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.7);
}

.header-menu > ul > li > a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.header-menu .selected {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.7);
}

.hearder-search.flex {
  justify-content: center;
  align-items: center;
}

.search_bar {
  width: 210px;
  height: auto;
  font-size: 0.8rem;
  color: black;
  padding: 4px 18px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  margin-right: 8px;
}

.search_bar::placeholder {
  color: #ccc;
}

.search_icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.menu_icon {
  display: none;
  font-size: 1.3rem;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.search_icon:hover,
.menu_icon:hover {
  color: black;
}

@media screen and (max-width: 781px) {
  .logo {
    font-size: 1.6rem;
  }

  .header-menu {
    display: none;
  }

  .search_bar {
    display: none;
  }

  .search_icon {
    color: white;
  }

  .menu_icon {
    display: block;
  }
}
