/* hair-section */

.hair-section {
  width: 100%;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url(../img/shampoo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 25%;
}

.hair-section_content {
  padding-left: 30px;
}

.hair-section_content > .hair_heading {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
}

.hair-section_content > .hair_desc {
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.hair-section_content > .hair_btn {
  color: black;
  font-size: 0.9rem;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.hair-section_content > .hair_btn:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 781px) {
  .hair-section_content > .hair_heading {
    font-size: 1.8rem;
    margin-bottom: 3px;
  }

  .hair-section_content > .hair_desc {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 3px;
  }
}

/* material */

.material.flex {
  flex-direction: column;
  padding: 20px 70px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f4f5f7;
  text-align: center;
}

.material-heading {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 26px;
}

.material-items.flex {
  justify-content: space-evenly;
}

.m_item > img {
  display: block;
  width: 200px;
  height: 160px;
  border-radius: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 781px) {
  .material.flex {
    padding: 20px 30px;
  }

  .material-heading {
    text-align: start;
  }

  .m_item > img {
    width: 130px;
    height: 110px;
  }
}

/* hair-items */

.hair-items {
  padding: 30px 70px;
  background-color: #fffef1;
  text-align: center;
}

.products-list > h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.products-list li {
  padding: 3px;
  transition: transform 200ms ease-in;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.products-list li:hover {
  transform: scale(1.1);
}

.shampoo-bar.flex {
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.shampoo_1.flex,
.shampoo_2.flex {
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.treatment.flex {
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0 20px;
}

.item_img {
  margin-bottom: 6px;
}

.item_img > img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

@media screen and (max-width: 781px) {
  .hair-items {
    padding: 30px 30px;
    text-align: center;
  }

  .products-list > h3 {
    text-align: start;
  }

  .shampoo-bar.flex {
    flex-direction: column;
  }

  .shampoo_1.flex {
    margin-bottom: 30px;
  }

  .shampoo_1.flex,
  .shampoo_2.flex {
    width: 100%;
    justify-content: space-evenly;
  }
}

/* banner */

.banner {
  justify-content: flex-end;
  padding: 30px 30px;
  color: white;
  background-image: url(../img/noplastic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-content {
  text-align: end;
}

.banner-content > h3 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: 4px;
}

.banner-content > a {
  display: block;
  text-decoration: underline;
  margin-top: 12px;
}

.banner-content > a:hover {
  color: black;
}

@media screen and (max-width: 781px) {
  .banner-content > h3 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 2px;
  }

  .banner-content > a {
    margin-top: 8px;
  }
}
